<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.service.jiaxini.dao.GoodDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.service.jiaxini.po.GoodDetail">
        <id column="id" property="id" />
        <result column="good_id" property="goodId" />
        <result column="weight" property="weight" />
        <result column="origin" property="origin" />
        <result column="sex" property="sex" />
        <result column="effect" property="effect" />
        <result column="is_blister" property="isBlister" />
        <result column="skin_texture" property="skinTexture" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, good_id, weight, origin, sex, effect, is_blister, skin_texture
    </sql>

</mapper>
